@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.card{
    width: 30%;
    margin:8px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background:white;
    cursor: pointer;
    transition: all 0.2s;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 2px 4px grey;
}
.carImage{
    object-fit: cover;
    width: 100%;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
.cardText{
    padding: 10px 0;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.cardTitle{
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: darkblue;
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    border-bottom: 1px dashed black;
}
.cardCar{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}
.cardYear{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}
.conditional{
    margin-top: 10px;
    text-align: right;
    padding-right: 10px;
    color:rgb(58, 57, 57);
}